# backend
backend/.env

# frontend
frontend/.env   
frontend/.vercel
frontend/node_modules
frontend/.next
frontend/out

# minio
minio

# document
memo.md
documents/*
makefile

# dependencies
node_modules
package.json
package-lock.json

# infra
infra/node_modules
infra/cdk.out
